//
//  Config.xcconfig
//  Uber Goat
//
//  Created by Fabian Canas on 7/24/15.
//  Copyright © 2015 Fabian Canas. All rights reserved.
//
#include "Keys.xcconfig"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PARSE_APPLICATION_ID=@\"$(PARSE_APPLICATION_ID)\" PARSE_CLIENT_KEY=@\"$(PARSE_CLIENT_KEY)\"
